@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/style/FileManager.css" rel="stylesheet" />
<div id="div_menu">
    <ul id="div_menu_ul">
        <li id="li_file">
            <h4><span id="span_file"></span>文件管理</h4>
            <div class="li_div">
                <a>第一名</a>
                <a>第二名</a>
                <a>第三名</a>
            </div>
        </li>
        <li id="li_map">
            <h4><span id="span_map"></span>地图管理</h4>
            <div class="li_div">
                <a>第一名</a>
                <a>第二名</a>
                <a>第三名</a>
            </div>
        </li>
    </ul>
</div>