@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="http://192.168.0.205:80/aspnet_client/API/3.21/3.21/esri/css/esri.css" />
<script src="http://192.168.0.205:80/aspnet_client/API/3.21/3.21/init.js"></script>

@Styles.Render("~/Content/style/MapManager.css")
@Styles.Render("~/Content/style/FileManager.css")
@Styles.Render("~/Scripts/easyfader/css/jquery.easyfader.css")

<div id="div_menu">
    <ul id="div_menu_ul">
        <li id="li_file">
            <h4 id="h-file"><span id="span_file"></span>文件浏览</h4>
            <div id="card-file" class="card">
                <span class="throbber-loader">
                    Loading...
                </span>
            </div>
            <div id="divlist-file" class="li_div">
            </div>
        </li>
        <li id="li_map">
            <h4 id="h-map"><span id="span_map"></span>地图管理</h4>
            <div id="divlist-map">
                <div id="divlist-header">
                    <a class="a-delete-button" onclick="deleteFiles()">
                        删除
                    </a>
                    <a onclick="downloadFiles()">
                        下载
                    </a>
                    <p style="display:inline">全选</p>
                    <img class="select_img" src="~/Sources/Images/select.png" onclick="selectallimg(this)" />
                </div>
                <div class="div-table" id="div-table">

                </div>
            </div>
        </li>
    </ul>
</div>
<div id="mapDiv"><div id="search"></div></div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel" style="color:white">
                    修改红线属性
                </h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>文件名：</td>
                        <td><input maxlength="50" name="filename" id="filename" /></td>
                        <td>备注信息：</td>
                        <td colspan="3" style="width:50%;max-width:50%;"><textarea style="width:80%;min-width:80%;" name="Mark" id="mark"></textarea></td>
                    </tr>
                    <tr>
                        <td>坐标信息框架：</td>
                        <td>
                            <span>
                                <select id="CoodinateSystem"></select>
                            </span>
                        </td>
                        <td>完成时间信息：</td>
                        <td><input type="date" name="FinishtimeInfo" id="finishtimeinfo" /></td>
                    </tr>
                    <tr>
                        <td>完成人信息：</td>
                        <td><input maxlength="50" name="FinishPersonInfo" id="finishpersoninfo" /></td>
                        <td>最小坐标：</td>
                        <td><input type="number" name="MinCoodinate" id="mincoodinate" /></td>
                    </tr>
                    <tr>
                        <td>最大坐标：</td>
                        <td><input type="number" name="MaxCoodinate" id="maxcoodinate" /></td>
                        <td>文件中对象数量：</td>
                        <td><input type="number" name="ObjectNum" id="objectnum" /></td>
                    </tr>

                    <tr>
                        <td>是否需要进库：</td>
                        <td>
                            <span>
                                是：
                                <input style="width:auto;height:auto;" type="radio" name="Warehousing" value="true" />
                                否：
                                <input style="width:auto;height:auto;" type="radio" checked="checked" name="Warehousing" value="false" />
                            </span>
                        </td>
                        <td>所属项目名称：</td>
                        <td><input name="ProjectName" id="projectname" /></td>

                    </tr>
                    <tr>
                        <td>文件类型：</td>
                        <td>
                            <span>
                                <select id="filetype"></select>
                            </span>
                        </td>
                        <td>所属项目类型：</td>
                        <td>
                            <span>
                                <select id="projecttype"></select>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>平面坐标系统：</td>
                        <td>
                            <span>
                                <select id="pcoodinateSystem"></select>
                            </span>
                        </td>
                        <td>中央子午线：</td>
                        <td><input maxlength="50" name="CenterMeridian" id="centermeridian" /></td>
                    </tr>
                    <tr>
                        <td>纵坐标偏移值：</td>
                        <td><input type="number" name="Yoffset" id="yoffset" /></td>
                        <td>水平坐标偏移值：</td>
                        <td><input type="number" name="Xoffset" id="xoffset" /></td>
                    </tr>
                    <tr>
                        <td>完成时间：</td>
                        <td><input type="date" name="Finishtime" id="finishtime" value="" /></td>
                        <td>完成人名称：</td>
                        <td><input maxlength="50" name="FinishPerson" id="finishperson" /></td>
                    </tr>
                    <tr>
                        <td>成果说明：</td>
                        <td colspan="3"><textarea style="max-width:96%;width:96%;" name="Explain" id="explain"></textarea></td>

                    </tr>
                    <tr>
                        <td>选择公开对象：</td>
                        <td>
                            <span>
                                <select id="selectObjs" class="js-example-basic-multiple" multiple="multiple"></select>
                            </span>
                        </td>
                        <td>测绘单位名称：</td>
                        <td>
                            <span>
                                <select id="surveyingunitname"></select>
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    关闭
                </button>
                <button type="button" onclick="changeInfo()" class="btn btn-primary">
                    修改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel1" style="color:white">
                    缩略图
                </h4>
            </div>
            <div class="modal-body">

                <div id="dowebok" class="fader">
                    
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    关闭
                </button>

            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<script src="~/Scripts/easyfader/js/jquery.easyfader.js"></script>

<script>
    var fatch3;
    var map;
    var search;
    var searchresult;
    var graphiclayer;
    var currentAjax = null;
    var jx;
   // $(function () {
      //  $('#dowebok').easyFader();
   // });
    $(document).ready(function () {
        //加载分类
        $.ajax({
            url: "/FileManager/GetSelectedCategory",
            type: "get",
            dataType: "json",
            async: false,
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var text = "<li><a class='classheader' onclick= 'clickheader(this)'>" + data[i].kind + "</a><ul class='subclass' style='display:none'><li>";
                    for (var j = 0; j < data[i].nodes.length; j++) {
                        text += "<a onclick= 'clickclass(this)'>" + data[i].nodes[j] + "</a>";
                    }
                    text += "</li></ul ></li >";
                    $("#li-div-ul").append(text);
                }
            }
        });
        //设置下拉选项的数据
        $(function setSelectData() {
            var uniturl = "/Droplist/Unitlist";
            var filetypeurl = "/Droplist/FiltTypelist";
            var projecttypeurl = "/Droplist/ProjectTypelist";
            var coodurl = "/Droplist/CoodinateSystemlist";
            getDropData("CoodinateSystem", coodurl);
            getDropData("filetype", filetypeurl);
            getDropData("projecttype", projecttypeurl);
            getDropData("pcoodinateSystem", coodurl);
            getDropData("selectObjs", uniturl);
            getDropData("surveyingunitname", uniturl);
            $(".js-example-basic-multiple").select2();
            //$("#surveyingunitname").val("苏仙区测绘队");
        });
        //查看用户权限，分配功能
        $.get("/UserInfoManager/GetUserLevels", function (data, status) {
            if (status == "success") {
                if (data == 0) {
                    $(".a-delete-button").css("display", "inline");
                }
            }
        });
    });
    //获取下拉菜单数据
    function getDropData(id, url) {
        //获取文件数据
        $.ajax({
            url: url,
            type: "get",
            dataType: "json",
            success: function (data) {
                //这里是ajax提交成功后，程序返回的数据处理函数。data是返回的数据，数据类型在dataType参数里定义！
                var text = "";
                for (var i = 0; i < data.length; i++) {
                    text += "<option value=" + data[i].Value + ">" + data[i].Value + "</option>";
                }
                $("#" + id).append(text);
            }
        });
    };
    //点击文件管理标题
    $("#h-file").click(function () {
        //加载动画
        var divlist = $("#divlist-file");

        if (divlist.css("display") == "none") {
            $("#card-file").css("display", "block");
            window.location.assign("/Home/FileManager");
        }
        else {
            divlist.css("display", "none");
        }
    });
    //点击地图管理标题
    $("#h-map").click(function () {
        //加载动画
        var divlist = $("#divlist-map");
        if (divlist.css("display") == "none") {
            $("#card-map").css("display", "block");
            setTimeout(function () {
                $("#card-map").css("display", "none");
                divlist.css("display", "block");
            }, 500);
        }
        else {
            divlist.css("display", "none");
        }
    });
    //保存记录
    function saverecord(e) {
        //保存json
        var arrold = sessionStorage.getItem('selectimg');
        var td = e.parentNode;
        var arrnew = new Array();
        arrnew[0] = td.parentNode.id;
        if (arrold != null) {
            var jsonold = JSON.parse(arrold);
            ////判断是否存在，存在就不添加
            var index = -1;
            for (var i = 0; i < jsonold.length; i++) {
                if (jsonold[i] == arrnew[0]) {
                    index = i;
                }
            }
            if (index > -1) {
                //jsonold.splice(index, 1)
                sessionStorage.setItem('selectimg', JSON.stringify(jsonold));
            }
            else
                sessionStorage.setItem('selectimg', JSON.stringify(jsonold.concat(arrnew)));
        }
        else
            sessionStorage.setItem('selectimg', JSON.stringify(arrnew));
    }
    //删除记录
    function deleterecord(e) {
        var arrold = JSON.parse(sessionStorage.getItem('selectimg'));
        var id = e.parentNode.parentNode.id;
        var index = arrold.indexOf(id);
        arrold.splice(index, 1);
        sessionStorage.clear();
        sessionStorage.setItem('selectimg', JSON.stringify(arrold));
    }
    //选择一个
    function selectimg(e) {
        setselect(e);
    }
    //设置选择效果
    function setselect(e) {
        var obj = $(e);
        var src = obj[0].src;
        var arr = src.split("/");
        var img = arr[arr.length - 1];

        if (img == "select.png") {
            saverecord(e);
            var selectedimg = src.replace("select.png", "selected.png");
            obj.attr('src', selectedimg);
        }
        else {
            deleterecord(e);
            var selectimg = src.replace("selected.png", "select.png");
            obj.attr('src', selectimg);
        }
    }
    //选择全部
    function selectallimg(e) {
        //将当前页所有img换颜色
        var src = $(e)[0].src;
        var arr = src.split("/");
        var img = arr[arr.length - 1];
        var f = $(".map-table").find(".select_img");
        if (img == "select.png") {
            var selectedimg = src.replace("select.png", "selected.png");
            for (var i = 0; i < f.length; i++) {
                saverecord(f[i]);
                $(f[i]).attr('src', selectedimg);
            }
            $(e).attr('src', selectedimg);
        }
        else {
            var selectimg = src.replace("selected.png", "select.png");
            for (var i = 0; i < f.length; i++) {
                deleterecord(f[i]);
                $(f[i]).attr('src', selectimg);
            }
            $(e).attr('src', selectimg);
        }
    }
    //Jimmy 2017/8/31 17:30  增加函数 下载多文件
    function downloadFiles() {
        //获取所有id
        var ids = JSON.parse(sessionStorage.getItem('selectimg'));
        if (ids != null && ids.length > 0) {
            $.ajax({
                url: '/Home/DownloadsWithObjId',
                type: "post",
                dataType: "text",
                data: JSON.stringify(ids),
                async: false,
                success: function (data) {
                    var json = JSON.parse(data);
                    if (json.code == 4) {
                        for (var i = 0; i < json.url.length; i++) {
                            var ulr = json.url[i];
                            window.open(json.url[i]);
                        }
                    }
                    else
                        alert("下载失败!");
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("下载失败!");
                }
            });
        }
    }
    //Jimmy 2017/8/31 17:30  增加函数 删除所选文件
    function deleteFiles() {
        //获取所有id
        var ids = JSON.parse(sessionStorage.getItem('selectimg'));
        if (ids != null && ids.length > 0) {
            if (ids != null) {
                if (confirm("你确定要删除所选" + ids.length + "个文件吗？")) {
                    $.ajax({
                        url: '/Home/Deletes',
                        type: "post",
                        dataType: "text",
                        data: JSON.stringify(ids),
                        async: false,
                        success: function (data) {
                            var arr = JSON.parse(data);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("删除失败!");
                        }
                    });
                }
            }
        }
            fatch3.refresh();
    }
    require(["esri/map", "esri/layers/ArcGISDynamicMapServiceLayer", "esri/layers/FeatureLayer", "esri/layers/GraphicsLayer", "esri/InfoTemplate", "esri/dijit/Search", "dojo/dom",
          "dojo/on", "dojo/domReady!"],
        function (Map, ArcGISDynamicMapServiceLayer, FeatureLayer, GraphicsLayer, InfoTemplate, Search, dom, on) {
            map = new Map("mapDiv", { logo: false });
            map.infoWindow.resize(350, 400);
            //利用url创建一个动态地图服务对象
            //   var layer = new ArcGISDynamicMapServiceLayer("http://192.168.0.230:6080/arcgis/rest/services/1/MapServer");
            //将地图服务对象添加到地图容器中
          
            graphiclayer = new GraphicsLayer();
            var username = getCookie("username");
            var userinfo = "";
            $.ajax({
                url: "/Home/GetUserinfo",
                type: "post",
                dataType: "text",
                async: false,
                data: username,
                success: function (data) {
                    userinfo = data;

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.status);

                }
            });
            var ss = userinfo.split(',');
            jx = ss[1].trim();
            var tempstr;
            if (jx == "0") {
            	tempstr = "<table width='100%' style='table-layout:fixed'><tr height='15%' width='100%'><th width='60%' align='left'>文件名:${FileName} </th><th width='40%' align='left'>完成人:${FshPerson} </th></tr><tr height='15%' width='100%'><th width='60%' align='left'>坐标信息:${CoodSystem} </th><th width='40%' align='left'>完成时间:${FinishTime:DateFormat(selector: 'date', fullYear: true)} </th></tr><tr height='15%' width='100%'><th width='60%' align='left'>中央子午线:${CenterMed} </th><th width='40%' align='left'>上传时间:${UploadTime:DateFormat(selector: 'date', fullYear: true)} </th></tr><tr height='15%' width='100%'><th width='60%' align='left'>文件类型:${FileType} </th><th width='40%' align='left'>文件大小:${FileSize:NumberFormat(places:2)} </th></tr><tr height='15%' width='100%'><th width='60%' align='left'>项目名称:${ProName} </th><th width='40%' align='left' id='tdid'>图形ID:${OBJECTID} </th></tr><tr height='15%' width='100%'><th width='100%' align='left'>备注:${Memo} </th></tr></table><button style='margin:5px 15px' type='button' onclick='SYT()' class='btn btn-primary btn-xs'>缩略图</button><button style='margin:5px 15px' type='button' onclick='Change()' class='btn btn-primary btn-xs'>修  改</button><button style='margin:5px 15px' type='button' onclick='dele()' class='btn btn-primary btn-xs'>删  除</button><button style='margin:5px 0px 5px 15px' type='button' onclick='Down()' class='btn btn-primary btn-xs'>下  载</button>";
            	
            }
            else {
            	tempstr = "<table width='100%' style='table-layout:fixed'><tr height='15%' width='100%'><th width='60%' align='left'>文件名:${FileName} </th><th width='40%' align='left'>完成人:${FshPerson} </th></tr><tr height='15%' width='100%'><th width='60%' align='left'>坐标信息:${CoodSystem} </th><th width='40%' align='left'>完成时间:${FinishTime:DateFormat(selector: 'date', fullYear: true)} </th></tr><tr height='15%' width='100%'><th width='60%' align='left'>中央子午线:${CenterMed} </th><th width='40%' align='left'>上传时间:${UploadTime:DateFormat(selector: 'date', fullYear: true)} </th></tr><tr height='15%' width='100%'><th width='60%' align='left'>文件类型:${FileType} </th><th width='40%' align='left'>文件大小:${FileSize:NumberFormat(places:2)} </th></tr><tr height='15%' width='100%'><th width='60%' align='left'>项目名称:${ProName} </th><th width='40%' align='left' id='tdid'>图形ID:${OBJECTID} </th></tr><tr height='15%' width='100%'><th width='100%' align='left'>备注:${Memo} </th></tr></table><button style='margin:5px 15px' type='button' onclick='SYT()' class='btn btn-primary btn-xs'>缩略图</button><button style='margin:5px 15px' type='button' onclick='Change()' class='btn btn-primary btn-xs a-delete-button'>修  改</button><button style='margin:5px 15px' type='button' onclick='dele()' class='btn btn-primary btn-xs a-delete-button'>删  除</button><button style='margin:5px 0px 5px 15px' type='button' onclick='Down()' class='btn btn-primary btn-xs'>下  载</button>";
            }
            fatch3 = new FeatureLayer("http://192.168.0.205:6080/arcgis/rest/services/fwx2/FeatureServer/0", {
            	mode: FeatureLayer.MODE_SNAPSHOT,
            	outFields: ["*"],
            	infoTemplate: new InfoTemplate("范围红线", tempstr)

            });
            if (ss[1].trim() != "0") {

                fatch3.setDefinitionExpression("FileName like '%" + ss[0].trim() + "%'");

            }



            // fatch3.setDefinitionExpression("FileName='ss03'");
            map.addLayer(fatch3);
            search = new Search({
                sources: [{
                    featureLayer: new FeatureLayer("http://192.168.0.205:6080/arcgis/rest/services/fwx2/FeatureServer/0", {
                        outFields: ["*"],
                        infoTemplate: new InfoTemplate("范围红线", tempstr)
                    }),
                    exactMatch: false,//精确查找
                	// outFields: ["OBJECTID", "FileName", "Directory", "CoodSystem", "FinishTime", "FshPerson", "MinCood", "MaxCood", "ObjectNum", "Mark", "ProName", "FileType", "ProType", "CenterMed", "Yoffset", "Xoffset", "SUnitName", "Memo", "IsPublic", "UploadTime", "FileSize"],
                    outFields: ["*"],
                    searchFields: ["OBJECTID", "FileName", "Directory", "CoodSystem", "FinishTime", "FshPerson", "MinCood", "MaxCood", "ObjectNum", "Mark", "ProName", "FileType", "ProType", "CenterMed", "Yoffset", "Xoffset", "SUnitName", "Memo", "IsPublic", "UploadTime", "FileSize"],//查找的关键字
                    suggestionTemplate: "${FileName}",
                    displayField: "FileName",
                    suggestionTemplate: "${FileName}",
                    name: "",
                    placeholder: "根据项目名称搜索",//搜索提示
                    maxResults: 6,
                    maxSuggestions: true,
                    minCharacters: 0,
                    searchQueryParams: { distance: 5000, maxAllowableOffset: 1 },
                    enableSuggestions: true

                }],



                map: map
            }, "search");
            search.startup();
            on(search, 'search-results', function (e) {
                //Jimmy 2017/8/31 17:30 删除选择记录
                sessionStorage.clear();
                var aa1 = document.getElementById("div-table");
                var aa = aa1.childNodes;
                if (aa != null) {
                    for (var i = 0; i < aa.length; i++) { aa1.removeChild(aa[i]); }

                }
                searchresult = e;
                var resultStr = "";
                for (var i = 0; i < searchresult.results[0].length; i++) {
                    //Jimmy 2017/8/31 17:30 给tr增加id，值为文件的id
                    var id = searchresult.results[0][i].feature.attributes.objectid;
                    resultStr += "<div class='ccccn' id='divid" + (i + 1) + "' onclick='openid(" + i + ",this)' onmouseover='openMarkerTipById1(" + i + ",this)' onmouseout='onmouseout_MarkerStyle(" + (i + 1) + ",this)' style=\"font-size: 10px;cursor:pointer;padding:0px 0 2px 2px; border-bottom:1px solid #403d3d;\"><table class='map-table'><tr id=" + id + "><td textalign='left'>" + (i + 1) + "、" + searchresult.results[0][i].feature.attributes.FileName;
                    resultStr += "</td><td><img class='select_img' src='../Sources/Images/select.png' onclick='selectimg(this)'></img></td></tr></table></div>";

                }
                document.getElementById("div-table").innerHTML = resultStr;

            });


            function getCookie(name) {
                var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
                if (arr = document.cookie.match(reg))
                    return unescape(arr[2]);
                else
                    return null;
            };

        });
    var idhh;
    function Change() {
        var id = document.getElementById("tdid").innerHTML;
        var idh = id.split(':');
        idhh = idh[1];
        map.infoWindow.hide();
        var dialogwdith = $(window).width() + $(".modal-dialog").width();
        $(".modal-content").css({
            left: (dialogwdith - $(".modal-content").width()) / 2,
        })
        $("#myModal").modal('show');
        var info;
        $.ajax({
            url: "/Home/getfileinfo",
            type: "post",
            dataType: "text",
            async: false,
            data: idh[1],
            success: function (data) {
                info = data;

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status);
                //alert(XMLHttpRequest.readyState);
                //alert(textStatus);
            }
        });

        var info1 = eval("(" + info + ")");
        //$("#CoodinateSystem").combobox("setValue","dsfasd");
        $('#CoodinateSystem').val(info1.CoodinateSystem);
        $('#filename').val(info1.FileName);
        $("#_easyui_textbox_input1").val(info1.CoodinateSystem);
        $("#finishtimeinfo").val(info1.FinishtimeInfo);
        $("#finishpersoninfo").val(info1.FinishPersonInfo);
        $("#mincoodinate").val(info1.MinCoodinate);
        $("#maxcoodinate").val(info1.MaxCoodinate);
        $("#objectnum").val(info1.ObjectNum);
        $("#mark").val(info1.Mark);

        $("input[name='Warehousing']").attr("checked", info1.Warehousing);

        $("#projectname").val(info1.ProjectName);
        $("#filetype").val(info1.FileType);
        $("#projecttype").val(info1.ProjectType);
        $("#pcoodinateSystem").val(info1.PcoodinateSystem);
        $("#centermeridian").val(info1.CenterMeridian);
        $("#yoffset").val(info1.Yoffset);
        $("#xoffset").val(info1.Xoffset);
        $("#finishtime").val(info1.Finishtime);
        $("#finishperson").val(info1.FinishPerson);
        $("#surveyingunitname").val(info1.SurveyingUnitName);
        $("#explain").val(info1.Explain);
        var arr = new Array();
        if (info1.PublicObjs.indexOf("|") > 0) {
            arr = info1.PublicObjs.split("|");
        }
        else {
            if (info1.PublicObjs != "") {
                arr[0] = info1.PublicObjs;
            }
            else {
                arr[0] = "";
            }
        }

        $("#selectObjs").select2().val(arr).trigger('change');

    };
    function changeInfo() {
        var file = {
            FileName: "",
            CoodinateSystem: "",
            FinishtimeInfo: "",
            FinishPersonInfo: "",
            MinCoodinate: "",
            MaxCoodinate: "",
            ObjectNum: "",
            Mark: "",
            Warehousing: "",
            ProjectName: "",
            FileType: "",
            ProjectType: "",
            PcoodinateSystem: "",
            CenterMeridian: "",
            Yoffset: "",
            Xoffset: "",
            Finishtime: "",
            FinishPerson: "",
            SurveyingUnitName: "",
            Explain: "",
            IsPublic: "",
            objectid: "",
            UploadTime: ""

        };
        file.FileName = $("#filename").val();
        file.CoodinateSystem = $("#CoodinateSystem").val();
        file.FinishtimeInfo = $("#finishtimeinfo").val();
        file.FinishPersonInfo = $("#finishpersoninfo").val();
        file.MinCoodinate = $("#mincoodinate").val();
        file.MaxCoodinate = $("#maxcoodinate").val();
        file.ObjectNum = $("#objectnum").val();
        file.Mark = $("#mark").val();
        file.Warehousing = $("input[name=Warehousing]:checked").val();
        file.ProjectName = $("#projectname").val();
        file.FileType = $("#filetype").val();
        file.ProjectType = $("#projecttype").val();
        file.PcoodinateSystem = $("#pcoodinateSystem").val();
        file.CenterMeridian = $("#centermeridian").val();
        file.Yoffset = $("#yoffset").val();
        file.Xoffset = $("#xoffset").val();
        file.Finishtime = $("#finishtime").val();
        file.FinishPerson = $("#finishperson").val();
        file.SurveyingUnitName = $("#surveyingunitname").val();
        file.Explain = $("#explain").val();
        var objarr = $("#selectObjs").val();
        file.objectid = idhh;
        file.PublicObjs = "";
        for (var i = 0; i < objarr.length; i++) {
            var text = objarr[i];
            if (i > 0)
                text = "|" + objarr[i];
            file.PublicObjs += text;
        }
        //var formData = new FormData();
        //  formData.append("fileinfo", JSON.stringify(file));
        var fileinfomation = JSON.stringify(file);
        $.ajax({
            url: "/Home/setfileinfo",
            type: "post",
            dataType: "text",
            async: false,
            data: fileinfomation,
            success: function (data) {
                info = data;

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status);
            }
        });
        if (info) {
            fatch3.refresh();
            $("#myModal").modal('hide');
            alert("修改成功！");

        }
        else {
            $("#myModal").modal('hide');
            alert("修改失败！");

        }

    };
    function dele() {
        var id = document.getElementById("tdid").innerHTML;
        var idh = id.split(':');
        id = idh[1];
        var info;
        $.ajax({
            url: "/Home/delefeature",
            type: "post",
            dataType: "text",
            async: false,
            data: id,
            success: function (data) {
                info = data;

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status);
                //alert(XMLHttpRequest.readyState);
                //alert(textStatus);
            }
        });

        if (info == "True") {
            map.infoWindow.hide();
            alert("删除成功！");
        }
        else {
            alert("删除失败！");
        }
        fatch3.refresh();
    };
    function Down() {
        var id = document.getElementById("tdid").innerHTML;
        var idh = id.split(':');
        window.open("/Home/DownloadWithObjectId?objId=" + idh[1]);
        console.log(idh[1]);
    };
    function SYT() {
        var id = document.getElementById("tdid").innerHTML;
        var idh = id.split(':');
        var idd = idh[1].trim();
    	// console.log(idh[1]);
        map.infoWindow.hide();
        var dialogwdith = $(window).width() + $(".modal-dialog").width();
        $(".modal-content").css({
            left: (dialogwdith - $(".modal-content").width()) / 2,
        })
        var image1 = document.getElementById("dowebok")
        if (image1.childNodes.length > 0) {
        	$("#dowebok").children().remove();

        }
        var info;
        var imagepath="";
        $.ajax({
        	url: "/Home/getimginfo",
        	type: "post",
        	dataType: "text",
        	async: false,
        	data: idd,
        	success: function (data) {
        		info = data;
        		var img = info.split("$");
        		if (img.length > 0) {
        			for (var i = 0; i < img.length; i++) {
        				imagepath = imagepath + "<img class='slide' src='" + img[i] + "'></img>";
        			}
        			image1.innerHTML = imagepath + "<div class='fader_controls'><div class='page prev' data-target='prev'>&lsaquo;</div><div class='page next' data-target='next'>&rsaquo;</div> <ul class='pager_list'></ul></div>";
        		}
        		else {
        			
        			image1.innerHTML = "<img class='slide' src='~/Scripts/easyfader/images/img1.jpg'></img><img class='slide' src='~/Scripts/easyfader/images/img2.jpg'></img><img class='slide' src='~/Scripts/easyfader/images/img3.jpg'></img><div class='fader_controls'><div class='page prev' data-target='prev'>&lsaquo;</div><div class='page next' data-target='next'>&rsaquo;</div> <ul class='pager_list'></ul></div>";
        		}
        		//console.log(imagepath);
        		$("#myModal1").modal('show');
        		$('#dowebok').easyFader();
        	},
        	error: function (XMLHttpRequest, textStatus, errorThrown) {
        		alert(XMLHttpRequest.status);
        		//alert(XMLHttpRequest.readyState);
        		//alert(textStatus);
        	}
        });




        //image1.innerHTML = imagepath + "<div class='fader_controls'><div class='page prev' data-target='prev'>&lsaquo;</div><div class='page next' data-target='next'>&rsaquo;</div> <ul class='pager_list'></ul></div>";

        //$("#myModal1").modal('show');
      
        //$(function () {
        //	// $('#dowebok').easyFader();
        //	$('#dowebok').easyFader();
        //});

    };
    function openMarkerTipById1(pointid, thiss) {  //根据id 打开搜索结果点tip
        thiss.style.background = '#CAE1FF';

    }
    function onmouseout_MarkerStyle(pointid, thiss) { //鼠标移开后点样式恢复
        thiss.style.background = "";
    }
    //输入提示框鼠标滑过时的样式
    function openMarkerTipById(pointid, thiss) {  //根据id打开搜索结果点tip
        thiss.style.background = '#CAE1FF';
    }
    //输入提示框鼠标移出时的样式
    function onmouseout_MarkerStyle(pointid, thiss) {  //鼠标移开后点样式恢复
        thiss.style.background = "";
    }
    function openid(pointid, thiss) {
        // var ss=document.getElementsByClassName("sizer")[0].style.display="none";
        map.graphics.clear();
        // console.log(ss[0]);
        // console.log(searchresult);
        // search.searchClear();
        thiss.style.background = '#CAE1FF';
        var cPoint = new esri.geometry.Point();
        var polyline1 = new esri.geometry.Polygon(searchresult.results[0][pointid].feature.geometry);
        cPoint = polyline1.getExtent().getCenter();
        // cPoint.x = parseFloat(searchresult.results[0][pointid].feature.geometry.x);
        // cPoint.y = parseFloat(searchresult.results[0][pointid].feature.geometry.y);
        // var sr = new esri.SpatialReference(searchresult.results[0][pointid].feature.spatialReference);
        // cPoint.setSpatialReference(sr);

        var graphic = searchresult.results[0][pointid].feature;
        //graphic.setSymbol(defaultSymbol);
        //graphic.setInfoTemplate("编号: " + searchresult.results[0][pointid].feature.attributes.OBJECTID + "<br>地名:" + searchresult.results[0][pointid].name + "<br>");
        var ss1 = searchresult.results[0][pointid].feature.attributes.UploadTime;
        var ss2 = searchresult.results[0][pointid].feature.attributes.FinishTime;
        var date1 = "";
        var date2 = "";
        var datae;
        if (ss1 != ""&&ss1!= null) {
        	datae = new Date(searchresult.results[0][pointid].feature.attributes.UploadTime);
        	date1 = datae.toLocaleDateString();
        }
        if (ss2 != ""&&ss2!=null) {
        	datae = new Date(searchresult.results[0][pointid].feature.attributes.FinishTime);
        	date2 = datae.toLocaleDateString();
        }
        var ss;
        
        if (jx == "0") {
        	ss = "<table width='100%' style='table-layout:fixed'><tr height='15%' width='100%'><th width='60%' align='left'>文件名:" + searchresult.results[0][pointid].feature.attributes.FileName + "</th><th width='40%' align='left'>完成人:" + searchresult.results[0][pointid].feature.attributes.FshPerson + " </th></tr><tr height='15%' width='100%'><th width='60%' align='left'>坐标信息:" + searchresult.results[0][pointid].feature.attributes.CoodSystem + " </th><th width='40%' align='left'>完成时间:" + date2 + " </th></tr><tr height='15%' width='100%'><th width='60%' align='left'>中央子午线:" + searchresult.results[0][pointid].feature.attributes.CenterMed + " </th><th width='40%' align='left'>上传时间:" + date1 + " </th></tr><tr height='15%' width='100%'><th width='60%' align='left'>文件类型:" + searchresult.results[0][pointid].feature.attributes.FileType + " </th><th width='40%' align='left'>文件大小:" + searchresult.results[0][pointid].feature.attributes.FileSize.toFixed(2) + " </th></tr><tr height='15%' width='100%'><th width='60%' align='left'>项目名称:" + searchresult.results[0][pointid].feature.attributes.ProName + " </th><th width='40%' align='left' id='tdid'>图形ID:" + searchresult.results[0][pointid].feature.attributes.OBJECTID + " </th></tr><tr height='15%' width='100%'><th width='100%' align='left'>备注:" + searchresult.results[0][pointid].feature.attributes.Memo + " </th></tr></table><button style='margin:5px 8px' type='button' onclick='SYT()' class='btn btn-primary btn-xs'>缩略图</button><button style='margin:5px 8px' type='button' onclick='Change()' class='btn btn-primary btn-xs'>修  改</button><button style='margin:5px 8px' type='button' onclick='dele()' class='btn btn-primary btn-xs'>删  除</button><button style='margin:5px 0px 5px 8px' type='button' onclick='Down()' class='btn btn-primary btn-xs'>下  载</button>";
        }
        else {
        	ss = "<table width='100%' style='table-layout:fixed'><tr height='15%' width='100%'><th width='60%' align='left'>文件名:" + searchresult.results[0][pointid].feature.attributes.FileName + "</th><th width='40%' align='left'>完成人:" + searchresult.results[0][pointid].feature.attributes.FshPerson + " </th></tr><tr height='15%' width='100%'><th width='60%' align='left'>坐标信息:" + searchresult.results[0][pointid].feature.attributes.CoodSystem + " </th><th width='40%' align='left'>完成时间:" + date2 + " </th></tr><tr height='15%' width='100%'><th width='60%' align='left'>中央子午线:" + searchresult.results[0][pointid].feature.attributes.CenterMed + " </th><th width='40%' align='left'>上传时间:" + date1 + " </th></tr><tr height='15%' width='100%'><th width='60%' align='left'>文件类型:" + searchresult.results[0][pointid].feature.attributes.FileType + " </th><th width='40%' align='left'>文件大小:" + searchresult.results[0][pointid].feature.attributes.FileSize.toFixed(2) + " </th></tr><tr height='15%' width='100%'><th width='60%' align='left'>项目名称:" + searchresult.results[0][pointid].feature.attributes.ProName + " </th><th width='40%' align='left' id='tdid'>图形ID:" + searchresult.results[0][pointid].feature.attributes.OBJECTID + " </th></tr><tr height='15%' width='100%'><th width='100%' align='left'>备注:" + searchresult.results[0][pointid].feature.attributes.Memo + " </th></tr></table><button style='margin:5px 8px' type='button' onclick='SYT()' class='btn btn-primary btn-xs'>缩略图</button><button style='margin:5px 8px' type='button' onclick='Change()' class='btn btn-primary btn-xs a-delete-button'>修  改</button><button style='margin:5px 8px' type='button' onclick='dele()' class='btn btn-primary btn-xs a-delete-button'>删  除</button><button style='margin:5px 0px 5px 8px' type='button' onclick='Down()' class='btn btn-primary btn-xs'>下  载</button>";

        }
        map.infoWindow.setContent(ss);
        map.infoWindow.setTitle("范围红线");
        map.infoWindow.show(cPoint, map.getInfoWindowAnchor(cPoint));
        graphiclayer.add(graphic);
        // console.log(map.infoWindow.anchor);
        map.setScale(100);
        map.centerAt(cPoint);
    }

</script>