
#div_menu {
    border-right: 1px solid #808080;
    float: left;
    width: 16em;
    height: 100%;
}

.li_div a {
    text-align: left;
    padding-left: 40px;
    text-decoration: none;
    color: black;
    display: block;
    border-top: 1px solid #00486d;
}

    .li_div a:hover {
        cursor: pointer;
        background-color: #c8c8c8;
    }

.checked {
    background-color: #c8c8c8;
}

.li_div a:active {
    scrollbar-base-color: #c8c8c8;
}

ul li {
    list-style-type: none;
}

    ul li h4 {
        color: white;
        margin: 0px;
        padding: 15px 0px 15px 0px;
        background-color: #0972A7;
        width: 100%;
        display: inline-flex;
        text-align: center;
        padding-top: 15px;
    }

.li_div {
    background-color: #d6d6d6;
    width: 100%;
}

#li_map {
    margin-top: 1px;
}

ul {
    padding: 0px;
}

.select_img:hover {
    cursor: pointer;
}

#div_menu_ul h4:hover {
    background-color: #5090C7;
    cursor: pointer;
}

#div_menu_ul h4:checked {
    background-color: #5090C7;
}

#span_file {
    background: url("../../Sources/Images/file.png");
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: -5px;
}

#span_map {
    background: url("../../Sources/Images/map.png");
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: -5px;
}

#div-filemanager {
    padding-left: 16em;
}

#div_filemanager_pager {
    height: 100%;
    width: 100%;
    border-left: none;
    padding: 10px 10px 2px 15px;
}

#div_filemanager_list {
    height: 100%;
    width: 100%;
    border-left: none;
    border: 1px solid #d8d7d7;
}

#div_filemanager_list_header {
    height: 50px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #0972A7;
}

    #div_filemanager_list_header input {
        height: 28px;
    }

.button {
    background-color: #0972A7;
    border: none;
    color: white;
    outline: none;
    height: 30px;
}

    .button:before {
        background-color: #0972A7;
        border: none;
        color: white;
        outline: none;
    }

    .button:active {
        background-color: #5090C7;
    }

#div_filemanager_list_header_search {
    display: inline;
    position: absolute;
    padding-top: 10px;
    left: 300px;
}

#div_filemanager_list_header_upload {
    display: inline;
    position: absolute;
    padding-top: 12px;
    right: 30px;
}

.modal .table {
    margin-bottom: 0px;
}

a:hover {
    cursor: pointer;
}

.modal td, .modal th {
    text-align: center;
}

.table tr th {
    text-align: center;
    font-size:0.8em;
}

#div_filemanager_list_footer {
    border-top: 1px solid #d8d7d7;
    height: 50px;
}

#footer_left {
    position: absolute;
    display: inline;
    left: 300px;
    padding-top: 10px;
}

#footer_right {
    position: absolute;
    display: inline;
    right: 30px;
    padding-top: 10px;
}

.modal-content {
    width: 650px;
}

.modal-dialog {
    width: auto;
}

#input_file {
    width: 100%;
    max-width: 100%;
    background-color: white;
}

.modal-dialog td {
    min-width: 120px;
    text-align: left;
}

.modal-dialog .modal-header {
    background-color: #0972A7;
    border-bottom: 1px solid #d8d7d7;
}

.classheader {
    height: 40px;
    font-size: 16px;
    padding-top: 10px;
}

.subclass {
    background-color: #ececec;
    display: none;
}

    .subclass a {
        padding: 5px 0px 5px 60px;
        border-bottom: 1px solid white;
    }

textarea {
    resize: vertical;
}

.progress-bar {
    text-align: right;
}

.combo {
    min-width: 160px;
}
/*加载动画*/
.card {
    margin: 10px 0px 10px 0px;
    display: none;
}

@-moz-keyframes throbber-loader {
    0% {
        background: #dde2e7;
    }

    10% {
        background: #6b9dc8;
    }

    40% {
        background: #dde2e7;
    }
}

@-webkit-keyframes throbber-loader {
    0% {
        background: #dde2e7;
    }

    10% {
        background: #6b9dc8;
    }

    40% {
        background: #dde2e7;
    }
}

@keyframes throbber-loader {
    0% {
        background: #dde2e7;
    }

    10% {
        background: #6b9dc8;
    }

    40% {
        background: #dde2e7;
    }
}
/* :not(:required) hides these rules from IE9 and below */
.throbber-loader:not(:required) {
    -moz-animation: throbber-loader 2000ms 300ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 300ms infinite ease-out;
    animation: throbber-loader 2000ms 300ms infinite ease-out;
    background: #dde2e7;
    display: inline-block;
    position: relative;
    text-indent: -9999px;
    width: 0.9em;
    height: 1.5em;
    margin: 0 1.6em;
}

    .throbber-loader:not(:required):before, .throbber-loader:not(:required):after {
        background: #dde2e7;
        content: '\x200B';
        display: inline-block;
        width: 0.9em;
        height: 1.5em;
        position: absolute;
        top: 0;
    }

    .throbber-loader:not(:required):before {
        -moz-animation: throbber-loader 2000ms 150ms infinite ease-out;
        -webkit-animation: throbber-loader 2000ms 150ms infinite ease-out;
        animation: throbber-loader 2000ms 150ms infinite ease-out;
        left: -1.6em;
    }

    .throbber-loader:not(:required):after {
        -moz-animation: throbber-loader 2000ms 450ms infinite ease-out;
        -webkit-animation: throbber-loader 2000ms 450ms infinite ease-out;
        animation: throbber-loader 2000ms 450ms infinite ease-out;
        right: -1.6em;
    }
/*输入框样式*/

.modal-body input, .modal-body select {
    height: 28px;
    min-width: 180px;
}

.btn-primary {
    height: 28px;
    background-color: #0972A7;
    border-radius: 0px;
    padding-top: 3px;
    border: none;
}

    .btn-primary:active {
        background-color: #5090C7;
    }

.red-border {
    /*border: 1px solid #0972A7;*/
}
/* 列表头图标*/
.img-sort {
    vertical-align: bottom;
    height: 22px;
    width: 22px;
    display: inline-block;
    background-image: url('../../Sources/Images/desc_gray.png');
}



.img-close {
    vertical-align: bottom;
    height: 22px;
    width: 22px;
    display: inline-block;
    background-image: url('../../Sources/Images/close_red.png');
}
/*高级搜索按钮*/
#div-powerserch {
    display: inline;
    position: absolute;
    padding-top: 10px;
    left: 550px;
}