body{
    min-width:900px;
}
#div_title {
    background-color: #0972A7;
    width: 100%;
    text-align: left;
    position: relative;
}

#div_title_ul {
    list-style-type: none;
    display: inline;
    right: 20px;
    top: 30px;
    position: absolute;
}

#div_title_ul li {
    float: left;
    padding-right: 10px;
    color: white;
}

#div_title_ul a {
    color: white;
    text-decoration: none;
    outline: none;
}

#div_title_ul a:hover {
    color: grey;
}

#div_message, #div_message_left, #div_message_right {
    display: inline-flex;
    text-align: center;
}

#div_message {
    border-bottom: 2px inset #808080;
    height: 40px;
    width: 100%;
    position: relative;
}

#div_message_left {
    position: absolute;
    margin-top: 10px;
    display: inline;
}

#div_message_right {
    position: absolute;
    right: 20px;
    margin-top: 5px;
    display: inline;
}

#div_message_left img {
    margin-left: 100px;
    width: 14px;
    height: 18px;
    margin-top: 2px;
    margin-right: 5px;
    display: inline;
}

#div_message_right img {
    width: 14px;
    height: 18px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline;
}

#div_message_right a {
    margin-left: 10px;
    margin-bottom: 15px;
    color: #0972A7;
    text-decoration: none;
    outline: none;
}

#div_message_right a:hover {
    color: grey;
}

#div_message p {
    margin: 0px;
    height: 20px;
    display: inline;
}

body {
    margin: 0px 2px 0px 2px;
    padding: 0px;
    text-align: center;
}

html {
    width: 100%;
    height: auto;
}
#loading{
    position:relative;
    display:none;
}
#loading img
{
    position: fixed;
    top: 35%;
    left: 37%;
    z-index:1000;
}
/*通知轮播*/
.outer {
    margin-top: 5px;
    display: inline-block;
    width: 300px;
    height: 20px;
    overflow: hidden;
}

.outer ul {
    display: inline-block;
    height: 20px;
    -webkit-transform: translate3d(0, 0, 0); /* 3d渲染，开启硬件加速 */
    transform: translate3d(0, 0, 0);
    font-size: 0px; /* 使inline-block无默认间距 */
    white-space: nowrap; /* 超出不折行 */
}

.outer ul li {
    display: inline-block;
    padding-right: 50px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    font-size: 14px;
}

.theanimation {
    animation: theanimation infinite linear;
    animation-duration: 20s;
    -webkit-animation: theanimation infinite linear;
    -webkit-animation-duration: 20s;
}

@keyframes theanimation {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes theanimation {
    from {
        -webkit-transform: translateX(0%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}
