html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 100%;
    background-image: url(../../Sources/Images/login_bg.png);
    background-size: cover;
}

#div_content {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: whitesmoke;
    padding: 30px;
}

#div_username, #div_password {
    margin-bottom: 15px;
    padding-left:90px;
    text-align:left;
}
#div_password 
{
    padding-left:90px;
}
#div_LoginBtn{
    text-align:left;
    padding-left:145px;
}
#div_title {
    text-align: center;
    display: inline-flex;
}

#title_img {
    padding-right: 20px;
    height: 50px;
    width: 44px;
    float: left;
}

#input_btn {
    background-color: #0972A7;
    border: none;
    color: white;
    outline: none;
    height:28px;
    width:153px;
}
#input_btn:active {
    background-color: #5090C7;
}