
#search {
	position:relative;
	float:left;

}
.btn-default {
	border-color: #333333;
}
.btn {
	border-bottom-right-radius:0px;
	border-top-right-radius:0px;

}
.arcgisSearch .searchGroup .searchInput {
	border-bottom-left-radius:0px;
	border-top-left-radius:0px;
}

#btn-group1 {
	position:relative;
	float:left;
}
#topsearch {
         display: block;
         position: relative;
         z-index: 2;
         top: 20px;
         left: 74px;
      }
#div_menu {
    border-right: 1px inset #808080;
    float: left;
    width: 240px;
    height: 100%;
}

.li_div a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 0px 5px 0px;
}

    .li_div a:hover {
        background-color: #c8c8c8;
    }

    .li_div a:active {
        scrollbar-base-color: #c8c8c8;
    }

ul li {
    list-style-type: none;
}

    ul li h4 {
        color: white;
        margin: 0px;
        padding: 15px 0px 15px 0px;
        background-color: #0972A7;
        width: 100%;
        display: inline-flex;
        text-align: center;
        padding-top: 15px;
    }

.li_div {
    width: 100%;
}
#divlist-file{
    display:none;
}
#li_map {
    margin-top: 1px;
}
ul {
    padding: 0px;
}

#div_menu_ul h4:hover {
    background-color: #5090C7;
}

#div_menu_ul h4:checked {
    background-color: #5090C7;
}

#span_file {
    background: url("../../Sources/Images/file.png");
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 60px;
    margin-top: -5px;
}
.esriPopup .titleButton.maximize {  
     display: none;  
}  
#span_map {
    background: url("../../Sources/Images/map.png");
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 60px;
    margin-top: -5px;
}

#mapDiv 
{
    height: 100%;
}
/*加载动画*/
.card 
{
    margin: 10px 0px 10px 0px;
    display: none;
}
.esriPopup .titlePane{
background-color:#0079c1;
}

@-moz-keyframes throbber-loader {
    0% {
        background: #dde2e7;
    }

    10% {
        background: #6b9dc8;
    }

    40% {
        background: #dde2e7;
    }
}

@-webkit-keyframes throbber-loader {
    0% {
        background: #dde2e7;
    }

    10% {
        background: #6b9dc8;
    }

    40% {
        background: #dde2e7;
    }
}

@keyframes throbber-loader {
    0% {
        background: #dde2e7;
    }

    10% {
        background: #6b9dc8;
    }

    40% {
        background: #dde2e7;
    }
}
/* :not(:required) hides these rules from IE9 and below */
.throbber-loader:not(:required) {
    -moz-animation: throbber-loader 2000ms 300ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 300ms infinite ease-out;
    animation: throbber-loader 2000ms 300ms infinite ease-out;
    background: #dde2e7;
    display: inline-block;
    position: relative;
    text-indent: -9999px;
    width: 0.9em;
    height: 1.5em;
    margin: 0 1.6em;
}

.throbber-loader:not(:required):before, .throbber-loader:not(:required):after {
    background: #dde2e7;
    content: '\x200B';
    display: inline-block;
    width: 0.9em;
    height: 1.5em;
    position: absolute;
    top: 0;
}

.throbber-loader:not(:required):before {
    -moz-animation: throbber-loader 2000ms 150ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 150ms infinite ease-out;
    animation: throbber-loader 2000ms 150ms infinite ease-out;
    left: -1.6em;
}

.throbber-loader:not(:required):after {
    -moz-animation: throbber-loader 2000ms 450ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 450ms infinite ease-out;
    animation: throbber-loader 2000ms 450ms infinite ease-out;
    right: -1.6em;
}
/* 搜索数据结果框样式*/
.map-table{
    text-align: center;
    width: 100%;
  
}
.map-table td{
    border-top: 1px solid #00486d; 
    height:40px;
}
#divlist-map
{

}
#divlist-header
{
    height: 30px;
    padding-top: 5px;
    background-color: #efefef;
    border-top: 1px solid #848181;
    text-align:right;
    padding-right:10px;
}
#divlist-header a{
    padding-right: 37px;
}
#divlist-header a:hover
{
    cursor:pointer;
}
.div-table{
    max-height:800px;
    overflow:auto;
}
body
{
	text-align:left;
}