
#div_menu {
    border-right: 1px inset #808080;
    float: left;
    width: 240px;
    height: 100%;
}

.li_div a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 0px 5px 0px;
}

    .li_div a:hover {
        background-color: #c8c8c8;
    }

    .li_div a:active {
        scrollbar-base-color: #c8c8c8;
    }

ul li {
    list-style-type: none;
}

    ul li h4 {
        color: white;
        margin: 0px;
        padding: 15px 0px 15px 0px;
        background-color: #0972A7;
        width: 100%;
        display: inline-flex;
        text-align: center;
        padding-top: 15px;
    }

.li_div {
    width: 100%;
}

ul {
    padding: 0px;
}

#div_menu_ul h4:hover {
    background-color: #5090C7;
}

#div_menu_ul h4:checked {
    background-color: #5090C7;
}

#span_file {
    background: url("../../Sources/Images/file.png");
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 60px;
    margin-top: -5px;
}

#span_map {
    background: url("../../Sources/Images/map.png");
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 60px;
    margin-top: -5px;
}
