#set-content
{
    margin-top:40px;
}
.div-form
{
    margin-bottom:10px;
}
#set-content-submit
{
    background-color: #0972A7;
    border: none;
    color: white;
    outline: none;
    height: 30px;
    width:180px;

}
#set-content-submit:active {
    background-color: #5090C7;
}
.red-border {
    border: 1px solid red;
}